.main {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  padding-bottom: 1em;
}
.top {
  width: 100%;
  background-color: var(--secondary-color-dark-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5em;
  justify-content: space-between;
  padding-top: 1em;
}
.info {
  font-weight: 600;
  font-size: 1.2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testList {
  width: 100%;
}

.testItem:nth-child(2n) {
  background-color: rgb(201, 201, 201);
}

.testItem p {
  font-weight: 600;
  font-size: 1.1em;
}
.name {
  margin-left: 1em;
}

.testItem svg {
  cursor: pointer;
  transition: 0.1s;
  height: 36px;
  width: auto;
}
.testItem svg:hover {
  transform: scale(1.1);
}
.dropdown {
  padding: 0.5em;
  font-weight: 600;
  color: white;
  background-color: var(--color-charcoal);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoBox {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.createBtn {
  background-color: var(--primary-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 600;
  padding-left: 1em;
  cursor: pointer;
  height: 3.25em;
  margin-left: auto;
}

.createBtn:hover {
  background-color: var(--secondary-green);
}
.deleteEvaluationBox {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteEvaluationModal {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 1.5em;
}
.deleteEvaluationModal > p {
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
}
.deleteEvaluationModal > p > span {
  color: var(--third-red);
  font-weight: 700;
}
.deleteModalOptionsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
}
.modalOption {
  padding: 0.2em 0;
  color: white;
  width: 3.5em;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
}
.modalOption:first-of-type {
  background-color: var(--primary-red);
}
.modalOption:first-of-type:hover {
  background-color: var(--third-red);
}
.modalOption:nth-of-type(2) {
  background-color: var(--primary-green);
}
.modalOption:nth-of-type(2):hover {
  background-color: var(--secondary-green);
}

.main thead {
  background-color: var(--secondary-color-dark-black);
  color: white;
}

.main thead {
  padding: 1em;
}
.main th {
  padding: 1em;
}
.main th,
.main td {
  text-align: left;
  padding: 0.5em 1em;
}
.main th {
  padding: 1em;
}
.td div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.tableBox {
  flex-grow: 1;
  overflow: auto;
  position: relative;
}
.testItem {
  height: 2.5em;
  width: 100%;
  background-color: #8b93a7;
  transition: background-color 0.3s ease;
}

.main thead tr th {
  background-color: var(--secondary-color-dark-black);
  position: sticky;
  top: 0;
}

.tableBox table {
  width: 100%;
}

.pageBox {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap: 1em;
}

.page {
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border-radius: 8px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.page:not(.selected):hover {
  background-color: var(--light-indigo);
}

.page.selected {
  background-color: var(--secondary-color-dark-black);
  color: white;
  cursor: initial;
}

.loader {
  width: 80px;
  padding: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin: auto;
  user-select: none;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100% - 3.5em);
  top: 3.5em;
  left: 0;
  z-index: 1;
}

.main select {
  font-weight: 500;
  background-color: var(--third-color-light-black);
  outline: none;
  padding: 4px;
}

.main select:focus {
  outline: 2px solid white;
}
.filterBox {
  --border-height: 0.5em;
  color: white;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  width: 100%;
  align-items: center;
  column-gap: 0.5em;
}

.filterBox p {
  font-weight: 500;
}
.filterBox select {
  margin-right: 0.75em;
}
.hidden {
  overflow: hidden;
}
