.main {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 80%;
  min-height: initial;
}
.main {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
  min-height: initial;
  max-width: 1200px;
}
.top {
  width: 100%;
  background-color: var(--secondary-color-dark-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2em;
  justify-content: space-between;
  padding-top: 1em;
}
.info {
  font-weight: 600;
  font-size: 1.2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testList {
  width: 100%;
}
.testItem {
  height: 3em;
  width: 100%;
  background-color: #8b93a7;
  transition: background-color 0.3s ease;
}

.testItem:nth-child(2n) {
  background-color: rgb(201, 201, 201);
}

.testItem p {
  font-weight: 600;
  font-size: 1.1em;
}
.name {
  margin-left: 1em;
}

.testItem svg {
  cursor: pointer;
  transition: 0.1s;
  height: 42px;
  width: auto;
}
.testItem svg:hover {
  transform: scale(1.1);
}
.dropdown {
  padding: 0.5em;
  font-weight: 600;
  color: white;
  background-color: var(--color-charcoal);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoBox {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.createBtn {
  background-color: var(--primary-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 600;
  padding-left: 1em;
  cursor: pointer;
}
.createBtn:hover {
  background-color: var(--secondary-green);
}
.deleteEvaluationBox {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteEvaluationModal {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 1.5em;
}
.deleteEvaluationModal > p {
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
}
.deleteEvaluationModal > p > span {
  color: var(--third-red);
  font-weight: 700;
}
.deleteModalOptionsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
}
.modalOption {
  padding: 0.2em 0;
  color: white;
  width: 3.5em;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
}
.modalOption:first-of-type {
  background-color: var(--primary-red);
}
.modalOption:first-of-type:hover {
  background-color: var(--third-red);
}
.modalOption:nth-of-type(2) {
  background-color: var(--primary-green);
}
.modalOption:nth-of-type(2):hover {
  background-color: var(--secondary-green);
}

.main thead {
  background-color: var(--secondary-color-dark-black);
  color: white;
}

.main thead {
  padding: 1em;
}
.main th,
.main td {
  text-align: left;
  padding: 1em;
}
.td div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
