.main {
  min-height: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 1200px;
  width: 80%;
  margin: auto;
  min-height: 100vh;
}

.main h1 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
}

.main input {
  outline: none;
  border-radius: 4px;
  padding: 6.5px 8px;
  font-weight: 500;
}

.main input:focus {
  outline: 2px solid var(--secondary-color-dark-black);
}

.inputBox {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.inputBox label {
  font-weight: 600;
}

.inputBox .error {
  font-size: 0.9em;
  padding-left: 6px;
  padding-top: 4px;
}

.inputBox span {
  font-weight: 500;
}

.dropdown {
  padding: 0.5em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.dropdown option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.mainTestOptionsBox {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
  justify-content: center;
}

.btn {
  background-color: rgb(30, 201, 30);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 600;
  padding: 1em;
  cursor: pointer;
}

.createQuestionBtn {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 2em;
  font-size: 1.2em;
}

.btn:hover {
  background-color: rgb(26, 173, 26);
}

.createQuestionBox {
  height: 12em;
  border: 2px dashed var(--grey-disabled);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.questionBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 4em 0;
  gap: 4em;
}

.questionInput {
  width: 100%;
  min-height: 5em;
  background-color: white;
}

.multipleQuestionBox,
.openQuestionBox {
  min-height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
  width: 100%;
  text-align: left;
}

.pregunta {
  text-align: left;
  width: 100%;
  padding: 8px;
}

.main textarea {
  width: 100%;
  min-height: 4em;
  padding: 8px;
}

.main textarea:focus {
  outline: 2px solid black;
}

.multipleQuestionAnswerBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  row-gap: 0.25em;
  column-gap: 0.25em;
}

.answerInput {
  width: 100%;
  min-height: 3em;
  background-color: white;
}

.deleteBtn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(75%, -50%);
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-red);
}

.deleteBtn:hover {
  background-color: var(--secondary-red);
}

.openQuestionBox > .questionInput {
  min-height: 9.5em;
}

.submitting {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  font-size: 1.5em;
}

.loader {
  width: 100px;
  padding: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.backBtn {
  display: flex;
  flex-direction: row;
  color: var(--primary-light-blue);
  margin-right: auto;
  align-items: center;
  gap: 0.5em;
  font-size: 1.45em;
  font-weight: 500;
  margin-left: 1em;
}

.error {
  color: red;
  font-weight: 600;
  margin-right: auto;
  margin-left: 8px;
}

.inputEventPhoto {
  display: none;
}

.labelEventImage {
  border: 2px dotted var(--grey-disabled);
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 400px;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.main [class~="ql-editor"] {
  height: 100%;
  flex-grow: 1;
}
.main [class~="quill"] {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 9.5em;
}
.main [class~="ql-container"] {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main #radios label {
  cursor: pointer;
  position: relative;
}

.main #radios label + label {
  margin-left: 15px;
}

.main input[type="radio"] {
  opacity: 0; /* hidden but still tabable */
  position: absolute;
}

.main input[type="radio"] + span {
  font-weight: 500;
  padding: 12px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  display: block;
  cursor: pointer;
  background-color: #b3cefb;
  height: 100%;
}

.main input[type="radio"]:checked + span {
  color: #d9e7fd;
  background-color: #4285f4;
}

.main input[type="radio"]:focus + span {
  color: #fff;
}

.remainingTime {
  position: fixed;
  right: 1em;
  font-size: 1.3em;
  background-color: white;
  color: black;
  padding: 0.2em 0.5em;
  font-weight: 500;
}
