.searchBox {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
}
.searchBox input {
  background-color: transparent;
  color: white;
  outline: none;
  font-weight: 500;
  border-bottom: 2px solid white;
}
.searchBox svg {
  width: 28px;
  height: auto;
  cursor: pointer;
}

.searchBox input:focus {
  border-bottom-color: var(--primary-light-blue);
}

.searchBox input:focus + svg path {
  stroke: var(--primary-light-blue);
}
