.viewQuestion {
  width: calc(50% - 9em);
  overflow: auto;
}
.fullWidth {
  width: calc(100% - 18em);
}
.multipleQuestionBox,
.openQuestionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
  text-align: left;
  padding: 1em 5em;
  padding-bottom: 8em;
  width: 100%;
}
.pregunta {
  text-align: left;
  width: 100%;
  padding: 8px;
}
.error {
  color: red;
  font-weight: 600;
  margin-right: auto;
  margin-left: 8px;
}
.multipleQuestionAnswerBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  row-gap: 0.25em;
  column-gap: 0.25em;
}

.imageBox {
  height: 60vh;
  position: relative; /* Asegura que la imagen se ajuste dentro del contenedor */
  overflow: hidden; /* Opcional: para ocultar partes de la imagen que sobresalgan */
  width: 100%;
}

.imageBox img {
  object-fit: contain;
}
