@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  --background-color-light-purple: #e4d9ff;
  --primary-color-dark-blue: #273469;
  --primary-color-darker-blue: #242562;
  --secondary-color-dark-black: #30343f;
  --third-color-ice-light: #fafaff;
  --color-light-night-blue: #3d37f1;
  --third-color-light-black: #424755;
  --color-charcoal: #272727;
  --light-indigo: #636ea9;
  --grey-disabled: #8b93a7;
  --font-color-primary: #1d275f;
}
main {
  min-height: 100vh;
}
body {
  color: var(--third-color-ice-light);
  background: var(--background-color-light-purple);
}
