.main {
  min-height: initial;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 6em;
  max-height: 100vh;
  padding-bottom: 1em;
  text-align: center;
}

.main h1 {
  font-size: 2em;
  font-weight: 600;
}

.top {
  width: 100%;
  background-color: var(--secondary-color-dark-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.usersList.hidden {
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.userItem {
  height: 2.41em;
  width: 100%;
  background-color: #8b93a7;
  transition: background-color 0.3s ease;
  position: relative;
  padding-right: 0.5em;
}

.userItem p {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
}

.userItem p:hover {
  overflow: visible;
  background-color: #8b93a7;
  z-index: 3;
}

.userItem:nth-child(2n) p:hover {
  background-color: rgb(201, 201, 201);
}

.userItem:nth-child(2n) {
  background-color: rgb(201, 201, 201);
}

.userItem svg {
  width: 32px;
  height: auto;
  cursor: pointer;
  transition: 0.1s;
}
.userItem svg:hover {
  transform: scale(1.2);
}

.deleteUserBox {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteUserModal {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 1.5em;
}
.deleteUserModal > p {
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
}
.deleteUserModal > p > span {
  color: var(--third-red);
  font-weight: 700;
}
.deleteModalOptionsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
}
.modalOption {
  padding: 0.2em 0;
  color: white;
  width: 3.5em;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
}
.modalOption:first-of-type {
  background-color: var(--primary-red);
}
.modalOption:first-of-type:hover {
  background-color: var(--third-red);
}
.modalOption:nth-of-type(2) {
  background-color: var(--primary-green);
}
.modalOption:nth-of-type(2):hover {
  background-color: var(--secondary-green);
}

.filterBox {
  --border-height: 0.5em;
  color: white;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  min-height: 44px;
  box-sizing: content-box;
  align-items: center;
  column-gap: 0.5em;
}

.filterBox p {
  font-weight: 500;
}

.filterBox label {
  cursor: pointer;
}

.loadingBox {
  position: relative;
}

.loader {
  width: 80px;
  padding: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin: auto;
  user-select: none;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.none {
  display: none;
}

.downloadExcel {
  color: var(--primary-light-blue);
  text-decoration: underline;
  margin-left: auto;
  margin-right: 1em;
}

.rolBox {
  display: flex;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  height: 100%;
  margin-right: 0.1em !important;
}

.rolBox p {
  margin-right: 0;
}

.rolBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmarkRadio {
  --height: 25px;
  position: absolute;
  top: 0;
  left: 8px;
  height: var(--height);
  width: var(--height);
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.rolBox:hover input ~ .checkmarkRadio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rolBox input:checked ~ .checkmarkRadio {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkRadio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rolBox input:checked ~ .checkmarkRadio:after {
  display: block;
}

.rolBox .checkmarkRadio:after {
  --height: 18px;
  --width: 9px;
  left: calc(var(--width) * 0.8);
  top: calc(var(--height) / 15);
  width: var(--width);
  height: var(--height);
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rolBox p {
  font-size: 1rem;
}

.password svg {
  min-width: 20px;
  height: 20px;
}

.name span {
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  width: 2em;
}

.password span {
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
}

.password,
.password span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.password span svg {
  margin-bottom: 6px;
}

.tabsBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabBox {
  background-color: var(--third-color-light-black);
  color: white;
  padding: 0 1em;
  padding-top: 4px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tabBox p {
  padding-top: 4px;
  padding-bottom: 4px;
}

.tabBox.tabSelected {
  background-color: var(--secondary-color-dark-black);
}

.tabBox:hover {
  background-color: var(--secondary-color-dark-black);
}

.top.curso {
  border-bottom: none;
}

.curso .filterBox {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.wrapBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, 13.5em);
  width: 100%;
  padding: 1em;
  overflow: auto;
  background-color: var(--third-color-light-black);
  flex-grow: 1;
  justify-content: space-between;
  grid-template-rows: repeat(auto-fill, 4em);
  column-gap: 0.5em;
  row-gap: 1.5em;
  position: relative;
}
.wrapItem {
  background-color: white;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  padding: 0.5em;
  margin: 0 auto;
  position: relative;
  user-select: none;
}

.wrapItem svg {
  cursor: pointer;
  width: 32px;
  height: auto;
}

.wrapBox input {
  outline: none;
  border-bottom: 2px solid black;
  display: inline-flex;
  width: 60%;
  flex-grow: 1;
}

.wrapBox input:focus {
  border-bottom-color: var(--primary-light-blue);
}

.wrapItem svg:hover {
  transform: scale(1.1);
}

.wrapItem p {
  width: 100%;
  overflow: hidden;
}
.cursoOptionBox {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.wrapItem:hover .cursoOptionBox {
  display: flex;
}
.cursoOptionBox svg {
  width: 44px;
}

.main select {
  font-weight: 500;
  background-color: var(--third-color-light-black);
  outline: none;
  padding: 4px;
}

.main select:focus {
  outline: 2px solid white;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4em 1em;
  gap: 0.5em;
  margin-left: auto;
  height: 2.25em;
}

.upload {
  margin-right: 0 !important;
  margin-left: 0;
  background-color: var(--primary-light-blue);
}

.upload:hover {
  background-color: var(--third-light-blue);
}

.add {
  background-color: var(--primary-green);
  padding-right: 0.5em;
  gap: 0;
}

.add svg {
  width: 40px !important;
}

.add:hover {
  background-color: var(--secondary-green);
}

.deleteSomeUsers {
  background-color: var(--primary-red);
}

.deleteSomeUsers:hover {
  background-color: var(--third-red);
}

.btn svg {
  width: 28px;
  height: auto;
}

.deleteSomeUsers svg {
  width: 32px;
}

.btn span {
  white-space: nowrap;
  color: white;
  font-weight: 500;
}

.optionDeleteSome {
  background-color: var(--primary-red);
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0;
}

.optionDeleteSome:hover {
  background-color: var(--third-red);
}

.optionDeleteSome:nth-of-type(2) {
  background-color: var(--primary-green);
}

.optionDeleteSome:nth-of-type(2):hover {
  background-color: var(--secondary-green);
}

.optionDeleteSome svg {
  width: 32px;
}

.deleteSomeBox {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  gap: 0.5em;
}

.itemSelectedOverlay {
  position: relative;
}

.itemSelectedOverlay.wrong {
  box-shadow: inset 0px 0px 0px 1px rgb(230, 81, 81);
}

.itemSelectedOverlay.select {
  box-shadow: inset 0px 0px 0px 1px rgb(81, 192, 230);
}
.itemSelectedOverlay::after {
  pointer-events: none;
  content: ""; /* Necesario para que el pseudo-elemento se muestre */
  position: absolute; /* Posiciona el overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Color del overlay con opacidad (50%) */
  z-index: 0; /* Asegura que el overlay esté sobre el contenido del contenedor */
}
.itemSelectedOverlay.wrong::after {
  background-color: rgba(230, 173, 173, 0.2);
}
.itemSelectedOverlay.select::after {
  cursor: pointer;
  background-color: rgba(173, 216, 230, 0.3);
}
.pageBox {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap: 1em;
}

.page {
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border-radius: 8px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.page:not(.selected):hover {
  background-color: var(--light-indigo);
}

.page.selected {
  background-color: var(--secondary-color-dark-black);
  color: white;
  cursor: initial;
}
.tableBox {
  flex-grow: 1;
  overflow: auto;
  position: relative;
  background-color: var(--third-color-light-black);
}
.hidden {
  overflow: hidden;
}
.tableBox table {
  width: 100%;
}
.userItem {
  width: 100%;
  background-color: #8b93a7;
  transition: background-color 0.3s ease;
}

.main thead tr th {
  background-color: var(--secondary-color-dark-black);
  position: sticky;
  top: 0;
}
.main thead {
  background-color: var(--secondary-color-dark-black);
  color: white;
}

.main thead {
  padding: 1em;
}
.main th {
  padding: 1em;
}
.main th,
.main td {
  text-align: left;
  padding: 0.5em;
  z-index: 1;
}
.main th {
  z-index: 3;
  padding-bottom: 0.5em;
  padding-top: 0;
}

.tableItem div,
.tableHeadName > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.seePassword {
  width: 32px;
  cursor: pointer;
  margin-right: 0.3em;
}

.btn.monitorear {
  background-color: var(--primary-light-blue);
  margin-left: auto;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.btn.monitorear:hover {
  background-color: var(--third-light-blue);
}

.cursoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableNone {
  color: white;
  font-weight: 500;
  width: 100%;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
