.questionsBox {
  background-color: var(--third-color-light-black);
  height: 100%;
  min-width: 288px;
  width: 288px;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding: 1.5em 0.5em;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding-bottom: 2em;
  overflow-y: auto;
  overflow-x: hidden;
}
.questionsBox h2 {
  font-weight: 500;
  font-size: 1.25em;
}

.questionsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.question {
  background-color: var(--primary-light-blue);
  width: 3em;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  overflow: hidden;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question:hover {
  background-color: var(--third-light-blue);
}
.question svg {
  margin: auto;
}

.add {
  background-color: transparent;
  border: 3px dashed var(--primary-light-blue);
}

.add:hover {
  background-color: transparent;

  border-color: var(--third-light-blue);
}

.add svg {
  fill: var(--third-light-blue);
}

.info {
  margin-top: auto;
  text-align: center;
  font-weight: 500;
}

.generalBtn {
  width: initial;
  padding: 0.75em 1em;
}

.choose {
  background-color: var(--primary-green);
}

.choose:hover {
  background-color: var(--primary-green);
}
.btn {
  background-color: var(--primary-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 500;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1em;
  width: fit-content;
}
.btn:hover {
  background-color: var(--secondary-green);
}

.inputEventPDF {
  display: none;
}

.btnEventPDF {
  background-color: var(--primary-light-blue);
}

.btnEventPDF:hover {
  background-color: var(--third-light-blue);
}

.error {
  text-align: center;
  color: red;
  font-weight: 400;
}

.filesList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fileItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fileItem svg {
  min-width: 32px;
  height: auto;
  cursor: pointer;
}

.fileItem svg:hover {
  transform: scale(1.1);
}

.fileItem label {
  cursor: pointer;
  text-wrap: nowrap;
  margin-left: 0.25em;
}
