.loginBox {
  margin: auto;
  background-color: var(--white);
  width: 28em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.main {
  display: flex;
}
.loginBox input {
  color: black;
  width: 100%;
  border: 2px solid var(--third-color-light-black);
  outline: none;
  padding: 8px;
  font-weight: 500;
}
.loginBox input:focus {
  border-color: var(--color-light-night-blue);
}
.loginBox label {
  font-weight: 600;
}
.loginBox button {
  border: none;
  font-weight: 600;
  color: white;
  background-color: var(--third-color-light-black);
  margin-top: 1em;
  padding: 10px;
}
.loginBox button:hover {
  background-color: var(--primary-color-darker-blue);
}
